header {
    background-color:#e3372e;
    width: 1000px;
    height:150px;
    flex-direction: row;
    
}
.logo{

    width: 300px;
    height: 70px;
    margin-top: 40px;
    margin-left: 60px;
    
}
.pedaço{
    width:1000px;
    height: 400px;

}
fieldset{
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 1rem;
}

form{
    background:#cda044 ;
    height: 600px;

}

button{
    background: #ffbf00;
    border-color: rgb(233, 233, 5);
    width: 300px;
    height: 40px;
    cursor: pointer;
    margin-right: 5rem;
    margin-left: 5rem;

}


.pizza1{
    width: 90px;
    height: 70px;
    margin-top: 50px;
}
.footer{
    width: 1000px;
    height: 150px;
    background-image: url(rodape.jpg);
    float: left;
}
.adif{
    margin-left: 100px;
}
textarea{

}
#rodape{
    margin-right: 5rem;
    margin-left: 5rem;
}

